/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
.bg-black{ background:#000; padding: 10px 80px; color:#9de8fe; font-size: 13px;}